@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


:root{
    --primary:#fef3c7;
    
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
/* Header Work */
.navbarWidth {
    font-size: 25px;
    color: white;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #000000;
    z-index: 1;
    
}

.navLink .activated {
    width: 60px;
    background-color: #22c55e;
    border-radius: 5px;
}

.navbar-brand,
.navbar-nav .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    justify-content: center;
}

.nav-item {
    margin-left: 30px;
    color: white;
}

.backColor {
    background-color:transparent;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: #ecfeff;
    font-weight: 500;
    padding-top: -100px;
    border: 1px solid #909918;
}

.backColor:hover {
    color: #ecfeff;
}

@media (max-width: 768px) {
    .backColor {
        width: 100%;
    }

    .navLink .activated {
        background-color: transparent;
        box-shadow: none;
        color: white;
    }

    .nav-link:hover {
        font-weight: bold;
        color: white;
    }

    .nav-item {
        padding-top: 15px;
        color: white;
    }

    .space {
        margin-top: 20px;
    }

    .navbar-toggler {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .navbar {
        padding-left: 0px;
        padding-right: 0px;
    }
}
/* navbar end */
.height{
    height:80vh;
}
.img-container {
    background-image: url(eugene-chystiakov-B-h3so_5UKA-unsplash.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color:#fef3c7;
    align-items: center;
    width: 100%;
    margin: 0;
    opacity: 0.9;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    padding-bottom: 500px;
}
.midNav-color{
    background-color: rgba(12, 10, 9, 0.8);
    justify-content: center;
    position: sticky;
    width: 100%;
    z-index: 0;
    top: 50px;
}

.fixed {
    position: fixed;
    top: 0;
    transform: translate(0, -50%);
    background-color: black;
    width: 100%; 
    z-index: 1000; 
    margin-top: 85px;
}
.midNav-ul a{
    text-decoration: none;
    color:#fef3c7;
}

.midNav-ul a:visited{
    text-decoration: none;
    color:#fef3c7;
}
.midNav-ul a:hover{
    color:#fbbf24;
}
.top-col{
    padding:50px;
}
.top-row{
    background-color: var(--primary);
}

#navbar-example2 a.nav-link.active {
    color: #fbbf24; 
    font-weight: bold;
}

.achievement-container{
    color: #fef3c7;
    background-color: #020617;
    padding-bottom: 50px;
}
.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.achieve-row{
    text-align: center;
    padding-top: 50px;
    padding-left: auto;
    padding-right: auto;
}
.achievecard-row{
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    
}
.card {
        background: linear-gradient(to right, #fcd34d, #fde68a);
        font-weight: 500;
        color: #0c0a09;
        text-align: center;
        overflow: hidden;
        position: relative;
    }
    .card-content {
        transform: translate(-50%, -50%);
        transform-style: preserve-3d;
        animation: spin 10s linear infinite;
    }

    @keyframes spin {
        0%, 100% { transform: rotateY(0deg); }
        10% { transform: rotateY(360deg); }
        90% { transform: rotateY(360deg); }
        45%, 55% { transform: rotateY(180deg); }
    }
.core-container{
    padding-bottom: 50px;
    text-align: center;
    background-color:var(--primary);
}

.core-container .core{
    padding: 50px;
    
    margin-left: auto;
    margin-right: auto;
}
.core-container .core h1{
    font-size: 50px;
}
.core-container .core.p{
    font-size: 20px;
}

.core-container .pick{
    padding: 50px;
    margin-left: auto;
    margin-right: auto;

}

.history-container{
    background-image: url(pexels-kf-zhou-19647757.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fef3c7;
    width: 100%;
    opacity: 0.9;
}
.history-container .history-one{
    padding: 50px;
}
.history-container .history-one p{
    padding-top: 50px;
    counter-reset: #fde047;
    font-weight: 500;
}
.history-container .history-two{
    text-align: left;
    padding-top: 150px;
    padding-bottom: auto;
}
.history-container .history-image img{
    height: 200px;
    width: auto;
    
}
.history-container .history-image{
    display: flex;
    justify-content: center;
}
.operation-container{
    background-color: var(--primary);
    margin-top: 150px;
}
.operation-container .operation-one{
    padding: 100px;
}
.operation-container .operation-two{
    padding: 50px;
}
.operation-container .operation-two img{
    height: 500px;
    width: auto;
}
.operation-container .operation-one p{
    padding-top: 50px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.main-card{
    padding-top: 40px;
    height: 130vh;
    background: linear-gradient(to right bottom, #052e16, black);
    margin-bottom: -150px;
}

.align-card{
    padding-top: 200px;
}
/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

.align-top{
    margin-top: -50px;
}
/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
.img1{
    width: 500px;
    height:500px;
    margin-bottom: 100px;
}
.align{
    display: flex;
    justify-content: center;
}
.text{
    margin-top: 235px;
}
.text1{
    margin-top: 120px;
    margin-left: 0;
    color: aliceblue;

}
.text1 h2{
    font-size: 80px;
}
.text2{
    margin-top: 190px;
    color: aliceblue;

}
.text2 h2{
    font-size: 80px;
}
.img2{
    width: 500px;
    height: 500px;
    margin-bottom: 250px;
}
.text3{
    margin-top: 160px;
    margin-left: 0;
    color: rgb(10, 11, 11);

}
.text3 h2{
    font-size: 80px;
}
.text4{
    margin-top: 160px;
    margin-left: 0;
    color: rgb(83, 27, 5);

}
.text4 h2{
    font-size: 80px;
}
.link{
    color: black;
}
